<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filemanager - CYRIx86</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/fm.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"
        integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script>
        const ID = `<%- id %>`
    </script>
</head>

<body>
    <%- include("bg") %>

        <div class="main-container">
            <div class="main-header">
                <div class="left">
                    <h2 class="tool-title">
                        <p>CYRI<span>x</span>86</p>
                        <small>-by madhanmaaz</small>
                    </h2>
                </div>

                <div class="center">
                    <h3><%- id %> - Filemanager</h3>
                </div>

                <div class="right">
                    <% if(id=="global" ) { %>
                        <form>
                            <input name="file" type="file" id="upload-input">
                        </form>
                        <script>
                            const uploadInput = document.querySelector("#upload-input")
                            uploadInput.addEventListener("change", async () => {
                                try {
                                    await axios.post(`/fm`, document.forms[0], {
                                        headers: {
                                            "Content-Type": "multipart/form-data"
                                        }
                                    })

                                    location.reload()
                                } catch (error) {
                                    console.log(error);
                                    showPopup("error", error.message)
                                }
                            })
                        </script>
                        <% } %>
                            <a href="/">
                                <button class="b-btn" title="home">
                                    <i class="fa-solid fa-house"></i>
                                </button>
                            </a>
                </div>
            </div>

            <div class="main-content">
                <% for(let file of globalFiles){ %>
                    <div class="file">
                        <p><a class="gl" href="/global/<%- file %>"><%- file %></a></p>
                        <div class="right">
                            <button id="copy-btn" data-name="/global/<%- file %>" title="copy">
                                <i class="fa-solid fa-copy"></i>
                            </button>
                            <% if(id=="global" ) { %>
                                <button id="delete-btn" data-name="<%- file %>" title="delete">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                                <% } %>
                        </div>
                    </div>
                    <% } %>

                        <% for(let file of tarFiles){ %>
                            <div class="file">
                                <p><a href="/uploads/<%- id %>/<%- file %>"><%- file %></a></p>
                                <div class="right">
                                    <button id="copy-btn" data-name="/uploads/<%- id %>/<%- file %>" title="copy">
                                        <i class="fa-solid fa-copy"></i>
                                    </button>

                                    <button id="delete-btn" data-name="<%- file %>" title="delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                            <% } %>
            </div>
        </div>

        <script>
            document.querySelectorAll("#copy-btn").forEach(btn => {
                btn.addEventListener("click", async () => {
                    let value = btn.getAttribute("data-name")
                    await navigator.clipboard.writeText(`${location.origin}${value}`)
                })
            })

            document.querySelectorAll("#delete-btn").forEach(btn => {
                btn.addEventListener("click", async () => {
                    let value = btn.getAttribute("data-name")
                    if (confirm(`Do you want to delete ${value}?`)) {
                        try {
                            await axios.get(`/fm/del?id=${ID}&filename=${value}`)
                            location.reload()
                        } catch (error) {
                            popup("error", error.message)
                        }
                    }
                })
            })
        </script>
</body>

</html>